body {
    background-color: #e8e3e3 !important;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif !important;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 50px;
}

/*::-webkit-scrollbar { Hides page scrollbar but keeps functionality.
    display: none; 
} /*Works for Chrome, Safari, and Opera which supports the ::-webkit-scrollbar
pseudo-element, allowing you to play with it*/

.example { /*Haven't figured out how to use it yet*/
    -ms-overflow-style: none;  /*For IE and Edge*/
    scrollbar-width: none;  /*For Firefox*/
}

p {
    color: #2c344b;
    font-size:18px;
}

h1 {
    color: #2c344b;
    font-size:30px;
    display: flex;
    font-weight: bold !important;
}

h2 {
    color: #2c344b;
    font-size:21px;
}

a {
    color: #405fbe;
    text-decoration: none;
}

a:hover{
    text-decoration-line: underline;
}

a:visited{
    color: #405fbe;
}

a:active{
    color: #2a3f7d;
}

.highlight-test {  /* the . in front is for class that is repeatedly used */
    color:#405fbe;
    font-weight: bold;
    text-decoration: none;
}

header {
    background-color: #2c344b;
    width: 100%;
    left: 0px;
    right: 0px;
    top: 0px;
    margin: 0px;
    padding: 14px 0px;
    height: 100px;
    position: absolute; /*Basically like Sticky but without the negative space border thing*/
}

.header-title {
    text-align: left;
    color: #e8e3e3;
    font-size:25px;
    margin-left: 30px;
    padding-bottom: 5px;
    padding-right: 0px;
    margin-right: 0px;
    right: 0px;
    font-weight: bold;
}

nav {
    display:flex;
    font-size: 20px;
}

.header-nav { /*controls each individual link*/
    padding: 0px 0px;
    margin-left: 30px;
    margin-right: 0px;
    text-decoration: none;
    color: #e8e3e3;
    font-size: 20px;
}

.header-nav:hover {
    transition: 0.2s !important; /*!important forces marked CSS rules to take precedence over everything else*/
    text-decoration: none;
    color: #d2c3c3 !important;
}

.header-nav:visited {
    color: #e8e3e3;
}

.w-88 {
    width: 88% !important;
}

.color-change {
    border-color: #000000;
    border-radius: 5px;
    border-width: 2px;
    padding: 10px 15px;
    margin: 5px 0px 15px;
    background-color: #ffffff00;
}

.top-of-page {
    margin-top: 120px;
}

.bottom-of-page {
    margin-bottom: 100px;
}

.color-change:hover {
    background-color:rgba(0, 0, 0, 0.13);
    transition: 0.5s;
}

.color-change:active { /*Active is for onclick effects*/
    background-color:rgba(0, 0, 0, 0.20);
    transition: 0s;
}

.row-image {
    display:flex;
    flex-direction: row; /*This is for displaying content left to right*/
}

.serial a { /*controls each individual link*/
    padding: 5px 10px;
    text-decoration: none;
    color: #2c344b;
}

.serial a:hover { /*controls each individual link*/
    text-decoration: underline;
}

hr.solid {
    border-top: 3px solid #2c344b;
}

.serial-content img {
    width: 200px
}

.small-image img{
    width: 100px;
    margin-right: 10px;
}

.serial-back {
    text-decoration: none;
    color: #405fbe;
}

.serial-arrows-unused {
    color: #e8e3e3;
    cursor: default;
}

.serial-cover {
    width: 150px;
    margin-top: 20px;
}

.img-size-200{
    width: 200px !important;
}

/*A simple way to check everything!*/
/* { 
    outline: 1px solid #f00 !important;
    opacity: 1 !important;
    visibility: visible !important;
}*/

